*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#conteudo{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

#celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#imgcelular{
    height: 50rem;
}

#logout{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.bordedinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.bordedinfo:nth-child(1){
    min-height: 19rem;
}

#instagramlogo{
    height: 3rem;
}

#imgeu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

#imgeu img{
    height: 6res;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue{
    color:  #0095f6;
}

#appLinkDownload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0; 
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

#imgappstore:nth-child(1){
    background-image: url('./img/applestore.png');
}

#imgappstore:nth-child(2){
    background-image: url('./img/googleplay.png');
}

/*midia*/

@media(max-width: 1024px){
    #conteudo{
        width: 90%;
    }
}

@media(max-width: 650px){
    body{
        background-color: #ffffff;
    }

    .bordedinfo{
        border: 1px solid transparent;
    }

    #conteudo{
        width: 90%;
    }

    #celular{
        display: none;
    }

    #logout{
        width: 100%;
    }
}



